<html>
<head>
</head>
<body>
<table>
<tr>
    <td><span style="font-family: Georgia, serif; font-size: 22px;">42 Coffee Cups Test Assignment</span></td>
    <td></td>
<tr>
<tr>
    <td>{{ contact.name }}</td>
    <td>Contacts</td>
<tr>
<tr>
    <td>{{ contact.surname }}</td>
    <td>Email: {{ contact.email }}</td>
<tr>
<tr>
    <td>{{ contact.date_of_birth }}</td>
    <td>
        Jabber: {{ contact.jabber }}
        <br/>
        Skype: {{ contact.skype }}
    </td>
<tr>
<tr>
    <td>Bio: {{ contact.bio }}</td>
    <td>Other contacts: {{ contact.other_contacts }}</td>
<tr>
</table>
</body>
</html>
