{% extends "base.html" %}

{% block title %}
({{ records|length }}) new records
{% endblock %}

{% block extra_head %}
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" charset="utf8" src="{{ STATIC_URL }}js/requests.js"></script>
<script type="text/javascript" charset="utf8">
$(document).ready(function() {
    requests('{% url 'hello:requests' %}');
} );
</script>
{% endblock %}

{% block content %}
    <div id="display" class="container">
    {% for record in records %}
        <p>{{ record.remote_addr }} - [{{ record.date_time|date:"d/M/Y H:i:s" }}] "{{ record.request }}" {{ record.status_code }}</p>
    {% endfor %}
    </div>
{% endblock %}
